<h2>Our Pets!</h2>

<ul>
    <li ng-repeat="pet in petsController.petList">
        <div class = "pets">
            <strong>Name:</strong>{{pet.name}}<br>
            <strong>Category:</strong>{{pet.category}}<br>
            <strong>Breed:</strong>{{pet.breed}}<br>
            <strong>Adoption Price:</strong>{{pet.adoptionPrice}}<br>
            <img ng-src = "{{pet.imageUrl}}"><br>
            <button class="btn btn-primary" ng-click="petsController.editPet(pet.id)">Edit Pet</button>
            <button class="btn btn-danger" ng-click="petsController.deletePet(pet.id)">Delete Pet</button>


        </div>
    </li>
</ul>

<form ng-submit = "petsController.save ()">
    <div class="form-group">
        <label for="name">Name of pet:</label>
        <input type="text" class="form-control" id="name" ng-model="petsController.name">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" id="category" ng-model="petsController.category">
    </div>
    <div class="form-group">
        <label for="greed">Breed</label>
        <input type="text" class="form-control" id="breed" ng-model="petsController.breed">
    </div>
    <div class="form-group">
        <label for="adoptionPrice">Adoption Price</label>
        <input type="number" class="form-control" id="adoptionPrice" ng-model="petsController.adoptionPrice">
    </div>
    <div class="form-group">
        <label for="ImageUrl">Image URL</label>
        <input type="text" class="form-control" id="imageUrl" ng-model="petsController.imageUrl"><br>
    <button class="btn btn-primary" type="submit">Add New Pet</button>
</form>
